<p-table
  *ngIf="datosCargados"
  [value]="datosTrim"
  [scrollable]="true"
  scrollHeight="20rem"
  scrollWidth="60rem"
  [tableStyle]="{ 'max-width': '100%'}"
>
  <!-- Encabezado de la tabla -->
  <ng-template pTemplate="header">
    <tr>
      <th>Unidad Operativa</th>
      <th>Indicadores Finalizados</th>
      <th>Indicadores Faltantes</th>
      <th>Estatus</th>
    </tr>
  </ng-template>

  <!-- Cuerpo de la tabla -->
  <ng-template pTemplate="body" let-datosTrim>
    <tr>
      <td class="data--unidad">{{ datosTrim.UnidadOperante }}</td>
      <td class="data--center">{{ datosTrim.totalIndicadoresTerm }}</td>
      <td class="data--center">{{ datosTrim.totalIndicadoresFaltantes }}</td>
      <td class="data--status">
        <div class="tag-message tg--danger">
          <p class="danger">Falta</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Mensaje de carga -->
<div *ngIf="!datosCargados" class="loading-message">
  Cargando datos...
</div>