<p-table
  [value]="datos"
  [scrollable]="true"
  scrollHeight="20rem"
  scrollWidth="60rem"
  [tableStyle]="{ 'max-width': '100%'}"
>
  <!-- Encabezado de la tabla -->
  <ng-template pTemplate="header">
    <tr>
      <th>Unidad Operativa</th>
      <th>Indicadores Finalizados</th>
      <th>Indicadores Faltantes</th>
      <th>Estatus</th>
    </tr>
  </ng-template>

  <!-- Cuerpo de la tabla -->
  <ng-template #body let-datos>
    <tr>
      <td>{{ datos.cUnidadOperante }}</td>
      <td></td>
      <td></td>
      <td><p-tag class="tag-custom danger" severity="danger" value="Falta" [rounded]="true" /></td>
    </tr>
  </ng-template>
</p-table>